
{% extends 'base.html' %}
{% block content %}

<h1>Mogwai Details</h1>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ mogwai.name }} </span>
          <p>Description: {{ mogwai.description }}</p>
          {% if mogwai.age > 0 %}
          <p>Age: {{ mogwai.age }}</p>
          {% else %}
          <p>Age: Kitten</p>
          {% endif %}
      </div>
    </div>
  </div>
  
  <div class="col s12 m6">
    {% if mogwai.no_fed %}
      <form method="POST" action=" {% url 'add_feeding' mogwai.id %}">
        {% csrf_token %} 
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="Add Feeding">
      </form>
    {% else %}
     <div class="card-panel red-text center-align">{{mogwai.name}} cannot eat this late. DO NOT FEED IT!!</div>
    {% endif %}

    {% comment %} <form method="POST" action=" {% url 'add_feeding' mogwai.id %}">
      {% csrf_token %} 
      {{ feeding_form.as_p }}
      <input type="submit" class="btn" value="Add Feeding">
    </form> {% endcomment %}
    <br>
    {% if mogwai.fed_for_today %}
      <div class="card-panel teal-text center-align">{{mogwai.name}} has been fed all meals for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{mogwai.name}} might be hungry</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Time</th><th>Meal</th></tr>
      </thead>
      <tbody>
        {% for feeding in mogwai.feeding_set.all %}
          <tr>
            <td>{{feeding.date}}</td>
            <td>{{feeding.time}}</td>
            <td>{{feeding.get_meal_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>   
<hr>
<div class="row">
  <div class="col s12 m6">
    <h3>{{ mogwai.name }}'s Toys</h3>
    {% if mogwai.toys.count %}
      {% for toy in mogwai.toys.all %}
        <div class="card">
          <div class="card-content blue-grey lighten-3">
            <span class="card-text">
              A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
          <div class="card-action">
              <form action=" {% url 'remove_toy' mogwai.id toy.id %} " method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys :(</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <div class="col s12 m6">
      <h3>Available Toys</h3>
      {% if toys.count %}
        {% for toy in toys.all %}
          <div class="card">
            <div class="card-content blue-grey lighten-3">
              <span class="card-text">
                A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
              </span>    
            </div>
            <div class="card-action">
              <form action=" {% url 'assoc_toy' mogwai.id toy.id %} " method="post">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h5>{{mogwai.name}} Already Has All Toys Available</h5>
      {% endif %}
    </div>

{% endblock content %}

