{% extends 'base.html' %}
{% block content %}

<h1 class="brown-text text-lighten-1">About the Mogwai Collector</h1>
<hr/>
    
<p class="flow-text">They are cute and cuddly and make great pets and companions but beware about feeding them after midnight.  
As rumor has it, they have two very different personalities one nice and the other dark, if a single morsel of feed is had after midnight... you have been warned. 
</p>

<p class="flow-text">We are a loving Mogwai community, but also a very strict one. The Mogwai Collector has rules and regulations, we kindly ask you to follow them if you decide to join.  </p>
<p class="flow-text"> Welcome!</p>
{% endblock %}  