{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mogwai Collector</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  {% comment %} Google Fonts {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Schoolbell&display=swap" rel="stylesheet">    
  {% comment %} Materialize CSS {% endcomment %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% comment %} Static CSS {% endcomment %}
  <link rel="stylesheet"  type="text/css" href=" {% static 'css/style.css/' %}">
  {% comment %} Materialize JS {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper brown">
        <a href="{% url 'home' %}" class="brand-logo">&nbsp;&nbsp;Mogwai Collector</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href=" {% url 'new' %} ">Add a Mogwai</a></li>
          <li><a href="{% url 'index' %}">View all Mogwais</a></li>
          <li><a href=" {% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul> 
        <ul class="sidenav lime darken-2" id="mobile-demo">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href=" {% url 'new' %} ">Add a Mogwai</a></li>
          <li><a href="{% url 'index' %}">View all Mogwais</a></li>
          <li><a href=" {% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>       
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer id="footer" class="page-footer brown">
    <div class="right">All Rights Reserved, &copy; 2019 Mogwai Collector &nbsp;</div>
  </footer>

  
  <script src={% static 'js/main.js' %}></script>
</body>
</html>