{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="brown-text text-lighten-1">Mogwai Collector</h1>
<hr />

<div class="row">
    <h4>Meet the Mogwais</h4>
    <div class="col s12">
        <img class="responsive-img" src="{% static 'images/gremlins.jpg' %}" alt="gremlins">
    </div>
    <div class="col s12" id="home-images">
        <img class="responsive-img" src="{% static 'images/more_gremlins.jpg' %}" alt="gremlins">
    </div>
</div>
    

    
    
{% endblock %}  